<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
  <h2>🏡 커뮤니티</h2>
  <a href="{% url 'community:create_post' %}">➕ 인증 글 작성하기</a>
  <hr>

  {% for post in posts %}
    <div style="border:1px solid #ccc; padding:10px; margin-bottom:10px;">
      <p><strong>{{ post.user.nickname }}</strong>님의 인증글</p>
      <p>{{ post.content|truncatechars:100 }}</p>
      <p><strong>도전:</strong> {{ post.goal.challenge.title }}</p>
      <p>❤️ {{ post.like_count }} / 💬 {{ post.comments.count }}</p>
      <a href="{% url 'community:post_detail' post.id %}">[자세히 보기]</a>
    </div>
  {% empty %}
    <p>아직 등록된 게시글이 없습니다.</p>
  {% endfor %}
{% endblock %}
</body>
</html>

